{% extends 'port/home.html' %} {% load static %} {% block content %}
<div class="row">
    <div class="col col1">
        <img id="profile_pic" src="{% static '/images/mypic.jpg' %}">
        <hr>
        <h4>C Murali Sree Krishna</h4>
        <p>I am pursuing graduate in GITAM,Bengaluru-2020</p>
    </div>
    <div class="col col2">
        <h4>My Projects</h4>
        <hr>
        <p>i have done few of my projects and uploaded them in github, I mainly concentrated on front-end development without using any frameworks or stuff just pure vanilla stuff, and python i have used few frameworks namely Tkinter,Flask,Django,Kivy,Selenium</p>
        <p>the only stuff i am lacking is particular plan or i havent started in a perfect time, but now i am able to out run my friends who got jobs in good mnc</p>

    </div>
</div>
<div class="row1">
    <div class="col col3">
        <h4>My internship</h4>
        <hr>
        <p>I did my internship in college premisis which is named as smart radio, which uses text to speech using javascript and front-end with HTML,CSS and back-end with PHP and its main aim is just announce the text which is approved from the admin (or)
            HOD & students,staff are users they can send the text by logingin to the website and can post the message</p>
    </div>
    <div class="col col4">
        <h4>My Mini-project</h4>
        <hr>
        <p>I did my mini-project named as Army Security System using IOT, which is by using pir_sensor(HC-SR501), wifi_module(ESP8266), gsm_module(Sim800L), the project main focus is on moniter on places which is hard for army persons to handle, the objective
            of the project is pir sesonr keeps on monitering the location when ever it recieves a moment it will send the co-ordinates to the registered mobile number using gsm_module and updates the logs in website using wifi_module, so that people always
            doesnt need to moniter everywhere</p>
    </div>
</div>
<div class="row1">
    <div class="col col3">
        <h4>How i learn</h4>
        <hr>
        <p>I learned it by watching few tutorials on youtube and next started creating my own projects and started updating on github so that i can clarify myself when i get stuck in between, and i basically learned coding by using html and javascript as
            a base because of these launguage i got myself able to understand the programs and stuff how these will and how we can inherit the sub childs from main class </p>
    </div>
    <div class="col col4">
        <h4>My goal</h4>
        <hr>
        <p>i wanna become and developer in a company whether it might be a front-end developer or data-science i also started full stack web development with Django, and also have done few projects with gui based stuff with Tkinter</p>
    </div>
</div>
{% endblock content %}
