{% extends 'port/home.html' %} {% load static %} {% block content %}
<div class="myprojects">
    <div class="frontend">
        <h1>Frontend-End-codes</h1>
        <hr>
        <ul>
            <li>
                <h5>
                    <a href="https://github.com/Chittoji-Murali-Sree-Krishna/Front_End_codes/tree/master/10-Projects">10-projects</a>
                </h5>
            </li>
            <li>
                <h5>
                    <a href="https://github.com/Chittoji-Murali-Sree-Krishna/Front_End_codes/tree/master/Html_Css">Html_css</a>
                </h5>
            </li>
            <li>
                <h5>
                    <a href="https://github.com/Chittoji-Murali-Sree-Krishna/Front_End_codes/tree/master/Html_Css_Javascript">Html_Css_Javascript</a>
                </h5>
            </li>
            <li>
                <h5>
                    <a href="https://github.com/Chittoji-Murali-Sree-Krishna/Front_End_codes/tree/master/My_portfolio">My_portfolio</a>
                </h5>
            </li>
            <li>
                <h5>
                    <a href="https://github.com/Chittoji-Murali-Sree-Krishna/Front_End_codes/tree/master/Vannila_Javascript">Vanilla_javascript</a>
                </h5>
            </li>
        </ul>
    </div>
    <div class="python">
        <h1>Python-codes</h1>
        <hr>
        <ul>
            <li>
                <h5>
                    <a href="https://github.com/Chittoji-Murali-Sree-Krishna/Python_codes">Basic_pojects</a>
                </h5>
            </li>
            <li>
                <h5>
                    <a href="https://github.com/Chittoji-Murali-Sree-Krishna/Python_codes/tree/master/Selenium">Selenium</a>
                </h5>
            </li>
            <li>
                <h5>
                    <a href="https://github.com/Chittoji-Murali-Sree-Krishna/Python_codes/tree/master/Tkinter">Tkinter</a>
                </h5>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}